<!DOCTYPE html>
<html class="theme-light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">

    <!--photos https://unsplash.com/fr -->
  </head>

  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>

<div class = "block">
    <p class="content is-large">ddddddddddddddddddddddddddd</p>
    </div>

    <div class = "block">
    <button class ="button is-primary">vert</button>
    <button class ="button is-small">petit</button>
    <button class ="button">Default</button>
    <button class ="button is-danger">rouge</button>

    <button class ="button disabled">Default</button>
    <button class ="button is-loading">chargement</button>
    <button class ="button is-link is-outlined">Default</button>
    <button class ="button">Default</button>
   <button class="button is-info is-large is-rounded">Normal</button>
    </div>
  
    <!-- tag =etiquettes non cliquables-->
    <div class = "block">
        <span class="tag is-danger">tag</span>
        <span class="tag">tag</span>
        <span class="tag is-danger">tag</span>      
    </div>  

    <!-- box-->
     <div class ="block">
        <div class= "box">
            <h1 class="title">Mon titre</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quisquam assumenda quos eligendi mollitia consectetur consequatur delectus voluptatibus similique nemo? Magni, reprehenderit! Saepe corporis esse blanditiis. Autem assumenda architecto ex.</p>
        </div>
     </div>

     <!--notification-->
     <div class ="block">
        <div class= "notification">
            <p>Ceci est une notification.</p>
        </div>

        <div class= "notification is-primary">
            <p>Ceci est une notification.</p>
        </div>
     </div>

 <!--container propose des margin pour centrer davantage le contenu-->
 <div class ="block">
    <div class= "container">
        <p>Ceci est un container.</p>
    </div>
 </div>

 <!--columns -->
 <div class ="block">
    <div class= "container">
        <div class="columns">
            <div class="column is-half ">
                <p class="notification">ceci est une colonne1</p>
                <p class="notification">ceci est une colonne2</p>
                <p class="notification">ceci est une colonne3</p>
            </div>
        </div>
    </div>
 </div>

 <!--formulaires cf doc bulma -->
 <div class ="block">
    <div class= "field">
        <label class="label"> Mon label</label>
            <div class ="control">
                <input type ="text" class="input" placeholder="remplissez ce formulaire">
            </div>     
            <p class="help">ceci est une aide</p>
    </div>
 </div>

</section>
  </body>
</html>