
<!--  hero :        https://bulma.io/documentation/layout/hero/ -->
<!-- section :      https://bulma.io/documentation/layout/section/ -->
<!-- image :        https://bulma.io/documentation/elements/image/ -->
<!-- columns :      https://bulma.io/documentation/columns/basics/ -->
<!-- media:         https://bulma.io/documentation/layout/media-object/ -->
<!-- icon :         https://bulma.io/documentation/elements/icon/ -->
<!-- breadscrumb:   https://bulma.io/documentation/components/breadscrumb/ -->
<!-- level:         https://bulma.io/documentation/layout/level/ -->

<!--  hero :        https://bulma.io/documentation/layout/hero/ -->
<section class="hero">
    <div class="hero-body">
      <p class="title"></p>
      <p class="subtitle"></p>
    </div>
  </section>

<!-- section :      https://bulma.io/documentation/layout/section/ -->
<section class="section">
    <h1 class="title"></h1>
    <h2 class="subtitle">
      
    </h2>
  </section>

<!-- image :        https://bulma.io/documentation/elements/image/ -->
<figure class="image is-128x128">
    <img src="https://bulma.io/assets/images/placeholders/128x128.png" />
  </figure>

<!-- columns :      https://bulma.io/documentation/columns/basics/ -->
<div class="columns">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
  
<!-- media:         https://bulma.io/documentation/layout/media-object/ -->
<article class="media">
	<figure class="media-left">
		<!-- ... -->
	</figure>
	<div class="media-content">
		<div class="content">
			<!-- ... -->
		</div>
	</div>
</article>

<!-- icon :         https://bulma.io/documentation/elements/icon/ -->
<div class="icon-text">
  <span class="icon has-text-success">
    <i class="fas fa-check-square"></i>
  </span>
  <span>Success</span>
</div>
<!-- breadscrumb:   https://bulma.io/documentation/components/breadscrumb/ -->
<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li><a href="#"><!-- ... --></a></li>
		<li class="is-active"><a href="#" aria-current="page"><!-- ... --></a></li>
	</ul>
</nav>

<!-- level:         https://bulma.io/documentation/layout/level/ -->
<div class="level">
	<div class="level-item">
		<!-- ... -->
	</div>
</div>


    <!-- https://bulma.io/documentation/layout/hero/ -->

<!-- .hero -->
 <!-- https://v2.scrimba.com/learn-bulma-css-c023/~05 -->
  <section class ="hero">
    <div class="hero-body">
        <div class="container">
            <figure class="image center">
               
                <img src="./images/fleur.jpg" style ="max-width: 160px;">
            </figure>
        </div>
    </div>
  </section>

<!-- /.hero -->
<section class="section has-background-light">
  <div class="container">
    <div class="columns">
        <div class="column">
        
            <div class="notification is-info">
                <h1 class="title is-size-4" >Bulma ?</h1>
                <p class="is-size-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam excepturi quisquam assumenda mollitia beatae enim veniam distinctio quibusdam explicabo minus quo aut in ipsa, officiis ad harum repellendus qui?
                </p>
            </div>
        </div>
        <div class="column">
            <div class="notification is-primary">
                <h1 class="title is-size-4" >Bulma ?</h1>
                <p class="is-size-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam excepturi quisquam assumenda mollitia beatae enim veniam distinctio quibusdam explicabo minus quo aut in ipsa, officiis ad harum repellendus qui?
                </p>
            </div>
        </div>
        <div class="column">
            <div class="notification is-warning">
                <h1 class="title is-size-4" >Bulma ?</h1>
                <p class="is-size-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores laboriosam excepturi quisquam assumenda mollitia beatae enim veniam distinctio quibusdam explicabo minus quo aut in ipsa, officiis ad harum repellendus qui?
                </p>
            </div>
        </div>
        
      </div>
  </div>
    
  </section>

    <script src="main.js"></script>
  </body>
</html>
