{% extends 'magasin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


                     <h1 class="title is-1 has-text-black">Voici les étagères existantes </h1>
                    <div class="block">
        <div class="container">
            <div class ="columns">
                 <div class ="column">
                     <table>
                         <tr>
                             <th>NOM</th>
                             <th>ID</th>
                             <th colspan="2">ACTIONS</th>
                         </tr>
                         {% for etagere in etageres %}
                         <tr>
                             <td>{{etagere.nom_etagere}}</td>
                             <td>{{etagere.id_etagere}}</td>
                             <td><a href="{% url 'magasin:modifier_etagere_magasin' etagere.id_etagere %}">🖍️</a></td> <!--windows+.-->
                             <td><a href="{% url 'magasin:supprimer_etagere_magasin' etagere.id_etagere %}">❌</a></td>
                         </tr>
                         {% endfor %}
                     </table>
                </div>
                </div>



                    <div class="has-text-right">
                        <a class="button is-danger is-rounded is-large-text" href="{% url 'magasin:ajouter_etagere_magasin' %}">
                            <span class="icon is-small">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span>Ajouter une etagère</span>
                        </a>
                    </div>
                </div>

        </div>
</div>

    <p><a href="{% url 'magasin:creer_magasin' %}">Retour à la création du magasin</a></p>

</form>
{% endblock content %}